




.nav{
padding: 0 48px;
height: 80px;
background: #1897db2f;
color: rgb(243, 240, 57);
display: flex;
align-items: center;
justify-content: space-between;
font-size: 20px;
}

.nav_links{
position: fixed;
left: 0;
bottom: 0;
top:80px;
right: 0;
background-color: hsl(241, 93%, 27%);
display: grid;
place-items: center;
clip-path:circle(0% at top left);
transition: clip-path.4s;
}

.nav_link{
    text-decoration: none;
    color:aliceblue
}

.nav_links:target{
    clip-path: circle(150% at top left);
}